<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Title</title>
</head>
<h1>Welcome to DukeDidi</h1>
<body>
<form action="{% url 'DukeDidi:login' %}" method="post">
    {% csrf_token %}
    email:
    <input type="text" name="email">
    <br>
    password:
    <input type="password" name="password">
    <br>
    {% if invalid_user %}
        <p>Illegal Email or Password!</p>
    {% endif %}
    <br>
    <input type="submit" value="Log in" name="login_button">
    <br>
    <br>
</form>
<a href="{% url 'DukeDidi:register' %}">New User?</a>
</body>
</html>