<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Title</title>
</head>
<h1>Sharable Rides Results</h1>
<body>
    {% if not satisfied_rides %}
        <p>No Available Rides!</p>
    {% else %}
        <form action="{% url 'DukeDidi:sharableRidesResults' %}" method="post">
        {% csrf_token %}
            {% for ride in satisfied_rides %}
                <input type="radio" name="ride" value="{{ ride.pk }}" required="required">
                    Destination: {{ ride.destination }}
                    <br>
                    Arrival Time: {{ ride.arrival_time }}
                    <br>
                <br>
            {% endfor %}
        <input type="submit" value="Confirm" name="sharable_ride_confirm">
        </form>
    {% endif %}
<a href="{% url 'DukeDidi:dashboard' %}">Back to Dashboard</a>
</body>
</html>